{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'core/styles/index.css' %}">
        <link rel="stylesheet" href="{% static 'core/styles/mainapp.css' %}">
        <link rel="stylesheet" href="{% static 'core/styles/accounts.css' %}">
        <title>NOMA</title>
    </head>
    <body>
        <div class="header">
            <a class="logo-self-reference" href="{% url 'core_categories' %}">
                <div class="header-left-section">
                    <div class="header-logo">
                        <img src="{% static 'core/svg/main-logo.svg' %}" alt="logo">
                    </div>
                    <div class="header-text">
                        NOMA
                    </div>
                </div>
            </a>
            <div class="header-navigation">
                <div class="header-nav-icon-container">
                    <a class="header-navigation-link" href="{% url 'core_settings' %}">
                        <img class="header-nav-icon" src="{% static 'core/svg/settings-icon.svg' %}" alt="settings icon">
                    </a>
                </div>
                <a class="header-navigation-link" href="{% url 'users_userSignOut' %}">Sign Out</a>
            </div>
        </div>

        <div class="app-navigation-container">
            <a href="{% url 'core_accounts' %}">
                <div class="app-navigation-link active-nav-link">
                    Accounts
                </div>
            </a>
            <a href="{% url 'core_categories' %}">
                <div class="app-navigation-link">
                    Categories
                </div>
            </a>
            <a href="{% url 'core_transactions' %}">
                <div class="app-navigation-link">
                    Transactions
                </div>
            </a>    
        </div>

        <div id="content">
            
            <div class="main-items-container">
                <div class="container-header">
                    <div class="items-header-label">
                        Accounts:
                    </div>
                    <div class="account-total-balance">
                        {{ total_balance }} {{ main_currency.code }}
                    </div>
                </div>
                {% for account in accounts %}
                    <a href="{% url 'core_account' account.id %}">
                        <div class="item-container">
                            <div class="item-data-container">
                                <div class="item-icon-container">
                                    <img class="item-icon" src="{% static 'core/svg/account.svg' %}" alt="account icon">
                                </div>
                                <div class="item-name-description">
                                    <div class="item-name">
                                        {{ account.name }}
                                    </div>
                                    <div class="item-description">
                                        {{ account.description }}
                                    </div>
                                </div>
                            </div>
                            <div class="item-balance">
                                {{ account.balance }} {{ account.currency.code }}
                            </div>
                        </div>
                    </a>
                {% endfor %}

                <a href="{% url 'core_addAccount' %}">
                     <div class="item-container">
                        + Add new account
                     </div>
                </a>

            </div>

        </div>
        

    </body>
</html>