{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'core/styles/index.css' %}">
        <link rel="stylesheet" href="{% static 'core/styles/mainapp.css' %}">
        <link rel="stylesheet" href="{% static 'core/styles/transactionForm.css' %}">
        <link rel="stylesheet" href="{% static 'core/styles/accounts.css' %}">
        <link rel="stylesheet" href="{% static 'core/styles/transactions.css' %}">
        <script src="{% static 'core/scripts/transactionForm.js' %}"></script>
        <title>NOMA</title>
    </head>
    <body>
        <div class="header">
            <a class="logo-self-reference" href="{% url 'core_categories' %}">
                <div class="header-left-section">
                    <div class="header-logo">
                        <img src="{% static 'core/svg/main-logo.svg' %}" alt="logo">
                    </div>
                    <div class="header-text">
                        NOMA
                    </div>
                </div>
            </a>
            <div class="header-navigation">
                <a class="header-navigation-link" href="{% url 'users_userSignOut' %}">Sign Out</a>
            </div>
        </div>

        <div class="app-navigation-container">
            <a href="{% url 'core_accounts' %}">
                <div class="app-navigation-link">
                    Accounts
                </div>
            </a>
            <a href="{% url 'core_categories' %}">
                <div class="app-navigation-link">
                    Categories
                </div>
            </a>
            <a href="{% url 'core_transactions' %}">
                <div class="app-navigation-link">
                    Transactions
                </div>
            </a>    
        </div>

        <div id="content">
            
            <div class="left-page-part">
                <div class="add-transaction-container">
                    <div class="container-header">
                        <div class="items-header-label">
                            Account: {{ account.name}}
                        </div>
                    </div>
                    <div class="add-new-form-container">
                        <form action="{% url 'core_account' account.id %}" method="post" autocomplete="off">
                            <h2>New transaction:</h2>
                            {% csrf_token %}
                            <div class="form-label-field">
                                <div class="form-field-name">
                                    Type:
                                </div>
                                {% for error in form.account.errors %}
                                    <div class="error-message">{{ error }}</div>
                                {% endfor %}
                                {{ form.transaction_type }}
                            </div>

                            <div class="form-label-field">
                                <div class="form-field-name" id="where-to-label">
                                    To:
                                </div>
                                {% for error in form.category.errors %}
                                    <div class="error-message">{{ error }}</div>
                                {% endfor %}
                                <!-- {{ form.category }} -->
                                
                                <select name="category" id="id_category" class="form-field"> 
                                    {% for opt in opt_by_type.E %}
                                        <option value="{{ opt.id }}" data-type="E" style="display: block">{{ opt.name }}</option>
                                    {% endfor %}
                                    {% for opt in opt_by_type.I %}
                                        <option value="{{ opt.id }}" data-type="I" style="display: none;">{{ opt.name }}</option>
                                    {% endfor %}
                                    <!-- {% for opt in opt_by_type.T %}
                                        <option value="{{ opt.id }}" data-type="T" style="display: none;">{{ opt.name }}</option>
                                    {% endfor %} -->
                                </select>

                            </div>

                            <div class="form-label-field">
                                <div class="form-field-name">
                                    Amount:
                                </div>
                                <div class="amount-currency-form">
                                    {% for error in form.amount.errors %}
                                        <div class="error-message">{{ error }}</div>
                                    {% endfor %}
                                    {{ form.amount }}
            
                                    {% for error in form.currency.errors %}
                                        <div class="error-message">{{ error }}</div>
                                    {% endfor %}
                                    {{ form.currency }}
                                </div>
                            </div>

                            <div class="form-label-field">
                                <div class="form-field-name">
                                    Date:
                                </div>
                                {% for error in form.date.errors %}
                                    <div class="error-message">{{ error }}</div>
                                {% endfor %}
                                {{ form.date }}
                            </div>
                            
                            <div class="form-label-field">
                                <div class="form-field-name">
                                    Description:
                                </div>
                                {% for error in form.description.errors %}
                                    <div class="error-message">{{ error }}</div>
                                {% endfor %}
                                {{ form.description }}    
                            </div>
                            
                            <input class="submit-button" type="submit" value="Add">
                        </form>
                    </div>
                    <div class="edit-item-form-container">

                        <form id="editAccountForm_{{ account.id }}" action="{% url 'core_editAccount' account.id %}" method="post" autocomplete="off">
                            <h2>Account settings:</h2>
                            {% csrf_token %}

                            <div class="form-label-field">
                                <div class="form-field-name">
                                    Name:
                                </div>
                                {% for error in edit_form.name.errors %}
                                    <div class="error-message">{{ error }}</div>
                                {% endfor %}
                                {{ edit_form.name }}
                            </div>

                            <div class="form-label-field">
                                <div class="form-field-name">
                                    Balance:
                                </div>
                                <div class="amount-currency-form">
                                    {% for error in edit_form.balance.errors %}
                                        <div class="error-message">{{ error }}</div>
                                    {% endfor %}
                                    {{ edit_form.balance }}
            
                                    {% for error in edit_form.currency.errors %}
                                        <div class="error-message">{{ error }}</div>
                                    {% endfor %}
                                    {{ edit_form.currency }}
                                </div>
                            </div>

                            <div class="form-label-field">
                                <div class="form-field-name">
                                    Description:
                                </div>
                                {% for error in edit_form.description.errors %}
                                    <div class="error-message">{{ error }}</div>
                                {% endfor %}
                                {{ edit_form.description }}    
                            </div>

                        </form>
                        <form id="deleteAccountForm_{{ account.id }}" action="{% url 'core_deleteAccount' account.id %}" method="post">
                            {% csrf_token %}
                        </form>
                        <div class="form-buttons">
                            <input type="button" class="form-button" value="Edit" onclick="editAccount('{{ account.id }}')">
                            <input type="button" class="form-button" value="Delete account" onclick="deleteAccount('{{ account.id }}', '{{ n_transactions }}')">
                        </div>

                    </div>
                </div>
            </div>

            <div class="right-page-part">

                <div class="container-header">
                    <div class="items-header-label">
                        Transactions:
                    </div>
                </div>

                <div class="items-container">
                    {% for transaction in transactions %}
                        <div class="item-container">
                            <div class="item-data-container">
                                <div class="item-icon-container">
                                    <img class="item-icon" src="{% static 'core/svg/account.svg' %}" alt="transaction icon">
                                </div>
                                <div class="item-name-description">
                                    <div class="item-name">
                                        {{ transaction.category.name }}
                                    </div>
                                    <div class="item-account">
                                        {{ transaction.account.name }}
                                    </div>
                                    <div class="item-description">
                                        {{ transaction.description }}
                                    </div>
                                </div>
                            </div>
                            {% if transaction.transaction_type == "E" %}
                            <div class="item-balance expense-amount">
                                - {{ transaction.amount }} {{ transaction.currency.code }}
                            </div>
                            {% elif transaction.transaction_type == "I"%}
                            <div class="item-balance income-amount">
                                + {{ transaction.amount }} {{ transaction.currency.code }}
                            </div>
                            {% else %}
                            <div class="item-balance transfer-amount">
                                - {{ transaction.amount }} {{ transaction.currency.code }}
                            </div>
                            {% endif %}
    
                        </div>
                    {% endfor %}
                </div>

            </div>
        
        </div>
        

    </body>
</html>
