{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'core/styles/index.css' %}">
        <link rel="stylesheet" href="{% static 'core/styles/mainapp.css' %}">
        <script src="{% static 'core/scripts/categories.js' %}"></script>
        <title>NOMA</title>
    </head>
    <body>
        <div class="header">
            <a class="logo-self-reference" href="{% url 'core_categories' %}">
                <div class="header-left-section">
                    <div class="header-logo">
                        <img src="{% static 'core/svg/main-logo.svg' %}" alt="logo">
                    </div>
                    <div class="header-text">
                        NOMA
                    </div>
                </div>
            </a>
            <div class="header-navigation">
                    <div class="header-nav-icon-container">
                        <a class="header-navigation-link" href="{% url 'core_settings' %}">
                            <img class="header-nav-icon" src="{% static 'core/svg/settings-icon.svg' %}" alt="settings icon">
                        </a>
                    </div>
                <a class="header-navigation-link" href="{% url 'users_userSignOut' %}">Sign Out</a>
            </div>
        </div>

        <div class="app-navigation-container">
            <a href="{% url 'core_accounts' %}">
                <div class="app-navigation-link">
                    Accounts
                </div>
            </a>
            <a href="{% url 'core_categories' %}">
                <div class="app-navigation-link active-nav-link">
                    Categories
                </div>
            </a>
            <a href="{% url 'core_transactions' %}">
                <div class="app-navigation-link">
                    Transactions
                </div>
            </a>    
        </div>

        <div id="content">
    
            <div class="choose-period-container">
                <div class="choose-prev-period-container">
                    <button class="choose-next-period-button" type="button" onclick="changePeriod('prev', 'categories')">
                        <img class="period-button-icon" src="{% static 'core/svg/prev-period.svg' %}" alt="previous period">
                    </button>
                </div>
                <div class="period-text">
                    {{ month_name }} {{ year }}
                </div>
                <div class="choose-next-period-container">
                    <button class="choose-next-period-button" type="button" onclick="changePeriod('next', 'categories')">
                        <img class="period-button-icon" src="{% static 'core/svg/next-period.svg' %}" alt="next period">
                    </button>
                </div>
            </div>

            <div class="main-categories-container">
                {% for category, total in categories_expenses %}
                <button class="category-container-button" onclick="openCategoryPage('{{ category.id }}')">
                    <div class="category-container">
                        <div class="category-name">
                            {{ category.name }}
                        </div>
                        <div class="category-icon-container" style="background-color: {{ category.color.hex_value }}" onmouseover="this.style.backgroundColor='#f1916d'" onmouseout="this.style.backgroundColor='{{ category.color.hex_value }}'">
                            <img class="category-icon" src="{% static category.icon.path %}" alt="category image">
                        </div>
                        <div class="category-total">
                            {{ total }} {{ main_currency.code }}
                        </div> 
                    </div>
                </button>
                {% endfor %}

                <a href="{% url 'core_addCategory' %}">
                    <div class="add-category-container">
                        <div class="add-category-icon-container">
                            <img class="add-category-icon" src="{% static 'core/svg/add-icon.svg' %}" alt="add category icon">
                        </div>
                        <div class="add-category-label">
                            Add new category
                        </div>
                    </div>
                </a>

                
                <div id="central-info-container">
                    <button type="button" class="category-container-button" onclick="openIncomePage()">
                        <div id="central-info">
                            <div class="central-info-label">
                                {{ page_type }}
                            </div>
                            <div class="total-data total-expense main-info-label">
                                {{ total_expense }} {{ main_currency.code }}
                            </div>
                            <div class="total-data total-income">
                                {{ total_income }} {{ main_currency.code }}
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        
        </div>
        

    </body>
</html>