{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'core/styles/index.css' %}">
        <link rel="stylesheet" href="{% static 'core/styles/mainapp.css' %}">
        <script src="{% static 'core/scripts/categories.js' %}"></script>
        <title>NOMA</title>
    </head>
    <body>
        <div class="header">
            <a class="logo-self-reference" href="{% url 'core_index' %}">
                <div class="header-left-section">
                    <div class="header-logo">
                        <img src="{% static 'core/svg/main-logo.svg' %}" alt="logo">
                    </div>
                    <div class="header-text">
                        NOMA
                    </div>
                </div>
            </a>
            <div class="header-navigation">
                <a class="header-navigation-link" href="{% url 'users_userSignOut' %}">Sign Out</a>
            </div>
        </div>

        <div id="content">
            
            <div class="app-navigation-container">
                <a href="{% url 'core_accounts' %}">
                    <div class="app-navigation-link">
                        Accounts
                    </div>
                </a>
                <a href="{% url 'core_categories' %}">
                    <div class="app-navigation-link active-nav-link">
                        Categories
                    </div>
                </a>
                <a href="{% url 'core_transactions' %}">
                    <div class="app-navigation-link">
                        Transactions
                    </div>
                </a>    
            </div>

            <div class="main-categories-container">
                {% for category in categories %}
                <button class="category-container-button" onclick="openCategoryPage('{{ category.id }}')">
                    <div class="category-container">
                        <div class="category-name">
                            {{ category.name}}
                        </div>
                        <div class="category-icon-container">
                            <img class="category-icon" src="{% static 'core/svg/groceries.svg' %}" alt="category image">
                        </div>
                        <div class="category-total">
                            1234.56 PLN
                        </div> 
                    </div>
                </button>
                {% endfor %}

                <div id="central-info-container">
                    <div id="central-info">
                        <div class="central-info-label">
                            Expenses
                        </div>
                        <div class="total-data total-expense main-info-label">
                            1234.56 PLN
                        </div>
                        <div class="total-data total-income">
                            6543.21 PLN
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        

    </body>
</html>