{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'core/styles/index.css' %}">
        <link rel="stylesheet" href="{% static 'core/styles/mainapp.css' %}">
        <link rel="stylesheet" href="{% static 'core/styles/transactionForm.css' %}">
        <link rel="stylesheet" href="{% static 'core/styles/accounts.css' %}">
        <link rel="stylesheet" href="{% static 'core/styles/transactions.css' %}">
        <script src="{% static 'core/scripts/categories.js' %}"></script>
        <script src="{% static 'core/scripts/transactionForm.js' %}"></script>
        <title>NOMA</title>
    </head>
    <body>
        <div class="header">
            <a class="logo-self-reference" href="{% url 'core_categories' %}">
                <div class="header-left-section">
                    <div class="header-logo">
                        <img src="{% static 'core/svg/main-logo.svg' %}" alt="logo">
                    </div>
                    <div class="header-text">
                        NOMA
                    </div>
                </div>
            </a>
            <div class="header-navigation">
                <a class="header-navigation-link" href="{% url 'users_userSignOut' %}">Sign Out</a>
            </div>
        </div>

        <div class="app-navigation-container">
            <a href="{% url 'core_accounts' %}">
                <div class="app-navigation-link">
                    Accounts
                </div>
            </a>
            <a href="{% url 'core_categories' %}">
                <div class="app-navigation-link">
                    Categories
                </div>
            </a>
            <a href="{% url 'core_transactions' %}">
                <div class="app-navigation-link">
                    Transactions
                </div>
            </a>    
        </div>

        <div id="content">
            
            <div class="left-page-part">
                <div class="add-transaction-container">
                    <div class="container-header">
                        <div class="items-header-label">
                            Category: {{ category.name}}
                        </div>
                    </div>
                    <div class="add-new-form-container">
                        <form id="addCategoryTransactionForm_{{ category_id }}" action="{% url 'core_category' category.id %}" method="post" autocomplete="off">
                            <h2>New transaction:</h2>
                            {% csrf_token %}
                            <div class="form-label-field">
                                <div class="form-field-name">
                                    From:
                                </div>
                                {% for error in form.account.errors %}
                                    <div class="error-message">{{ error }}</div>
                                {% endfor %}
                                {{ form.account }}
                            </div>

                            <div class="form-label-field">
                                <div class="form-field-name">
                                    Amount:
                                </div>
                                <div class="amount-currency-form">
                                    {% for error in form.amount.errors %}
                                        <div class="error-message">{{ error }}</div>
                                    {% endfor %}
                                    {{ form.amount }}
            
                                    {% for error in form.currency.errors %}
                                        <div class="error-message">{{ error }}</div>
                                    {% endfor %}
                                    {{ form.currency }}
                                </div>
                            </div>

                            <div class="form-label-field">
                                <div class="form-field-name">
                                    Date:
                                </div>
                                {% for error in form.date.errors %}
                                    <div class="error-message">{{ error }}</div>
                                {% endfor %}
                                {{ form.date }}
                            </div>
                            
                            <div class="form-label-field">
                                <div class="form-field-name">
                                    Description:
                                </div>
                                {% for error in form.description.errors %}
                                    <div class="error-message">{{ error }}</div>
                                {% endfor %}
                                {{ form.description }}    
                            </div>
                            
                            <input class="submit-button" type="submit" value="Add">
                        </form>
                    </div>
                    <div class="edit-item-form-container">
                        <form id="editCategoryForm_{{ category.id }}" action="{% url 'core_editCategory' category.id %}" method="post" autocomplete="off">
                            <h2>Category settings:</h2>
                            {% csrf_token %}

                            <div class="form-label-field">
                                <div class="form-field-name">
                                    Name:
                                </div>
                                {% for error in edit_form.name.errors %}
                                    <div class="error-message">{{ error }}</div>
                                {% endfor %}
                                {{ edit_form.name }}
                            </div>

                            <div class="form-label-field">
                                <div class="form-field-name">
                                    Type:
                                </div>
                                {% for error in edit_form.category_type.errors %}
                                    <div class="error-message">{{ error }}</div>
                                {% endfor %}
                                {{ edit_form.category_type }}
                            </div>
                        </form>
                        <form id="deleteCategoryForm_{{ category.id }}" action="{% url 'core_deleteCategory' category.id %}" method="post">
                            {% csrf_token %}
                        </form>
                        <div class="form-buttons">
                            <input type="button" class="form-button" value="Edit" onclick="editCategory('{{ category.id }}')">
                            <input type="button" class="form-button" value="Delete category" onclick="deleteCategory('{{ category.id }}', '{{ n_transactions }}')">
                        </div>
                    </div>
                </div>
            </div>

            <div class="right-page-part">

                <div class="container-header">
                    <div class="items-header-label">
                        Transactions:
                    </div>
                </div>

                <div class="choose-period-container">
                    <div class="choose-prev-period-container">
                        <button class="choose-next-period-button" type="button" onclick="changePeriodCategory('prev', '{{ category.id }}')">
                            <img class="period-button-icon" src="{% static 'core/svg/prev-period.svg' %}" alt="previous period">
                        </button>
                    </div>
                    <div class="period-text">
                        {{ month_name }} {{ year }}
                    </div>
                    <div class="choose-next-period-container">
                        <button class="choose-next-period-button" type="button" onclick="changePeriodCategory('next', '{{ category.id }}')">
                            <img class="period-button-icon" src="{% static 'core/svg/next-period.svg' %}" alt="next period">
                        </button>
                    </div>
                </div>

                <div class="items-container">
                    {% for d, t_list in date_transactions.items %}
                        <h3 class="transaction-list-date">{{ d.0 }}, {{ d.1 }} {{ d.2 }}, {{ d.3 }}</h3>
                            {% for transaction in t_list %}
                                <a href="{% url 'core_transaction' transaction.id %}">
                                    <div class="item-container">
                                        <div class="item-data-container">
                                            <div class="item-icon-container">
                                                <img class="item-icon" src="{% static 'core/svg/account.svg' %}" alt="transaction icon">
                                            </div>
                                            <div class="item-name-description">
                                                <div class="item-name">
                                                    {{ transaction.category.name }}
                                                </div>
                                                <div class="item-account">
                                                    {{ transaction.account.name }}
                                                </div>
                                                <div class="item-description">
                                                    {{ transaction.description }}
                                                </div>
                                            </div>
                                        </div>
                                        {% if transaction.transaction_type == "E" %}
                                        <div class="item-balance expense-amount">
                                            - {{ transaction.amount }} {{ transaction.currency.code }}
                                        </div>
                                        {% elif transaction.transaction_type == "I"%}
                                        <div class="item-balance income-amount">
                                            + {{ transaction.amount }} {{ transaction.currency.code }}
                                        </div>
                                        {% else %}
                                        <div class="item-balance transfer-amount">
                                            - {{ transaction.amount }} {{ transaction.currency.code }}
                                        </div>
                                        {% endif %}
                
                                    </div>
                                </a>
                            {% endfor %}
                    {% endfor %}
                </div>

            </div>
        
        </div>
        

    </body>
</html>
