<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome!</title>
    </head>
    <body>
        <div class="header">
            <div class="header-logo">

            </div>
            <div class="header-text">

            </div>
            <div class="header-navigation">
                <a href="">Login</a>
                <a href="">Signup</a>
            </div>
        </div>

        <div class="introduction-container">
            <div class="introduction-text">
                
            </div>
            <div class="introduction-image">

            </div>
        </div>

    </body>
</html>