{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'core/styles/index.css' %}">
        <title>Welcome!</title>
    </head>
    <body>
        <div class="header">
            <div class="header-left-section">
                <div class="header-logo">
                    <img src="{% static 'core/svg/main-logo.svg' %}" alt="logo">
                </div>
                <div class="header-text">
                    NOMA
                </div>
            </div>
            <div class="header-navigation">
                <a class="header-navigation-link" href="">Login</a>
                <a class="header-navigation-link" href="">Sign Up</a>
            </div>
        </div>

        <div class="introduction-container">
            <div class="introduction-text">
                
            </div>
            <div class="introduction-image">

            </div>
        </div>

    </body>
</html>