#content {
    padding-top: 0px;
    margin-top: 80px;
}

.app-navigation-container {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #1b3358;
}

.app-navigation-container a {
    text-decoration: none;
    color: #f5d7db;
}

.app-navigation-link {
    /* border: 2px solid #f1916d; */
    border-bottom: 2px solid #f1916d;
    /* border-radius: 10px; */
    font-size: 22px;
    margin-right: 70px;
    margin-left: 70px;

    padding: 10px 20px 10px 20px;
    transition: background-color 0.2s, border-radius 0.2s, color 0.2s;
    cursor: pointer;
}

.app-navigation-link:hover {
    background-color: #f1916d;
    color: #1b3358;
    border-radius: 40px;
}

.active-nav-link {
    background-color: #f1916d;
    border-radius: 40px;
    color: #1b3358;
}

.main-categories-container {
    padding-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    display: grid;
    grid-template-columns: repeat(5, minmax(250px, 1fr));
    column-gap: 40px;
    row-gap: 40px;
    align-items: center;
    justify-content: center;
}


#central-info-container {
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#central-info {
    border: 7px solid #bd83b8;
    text-align: center;
    height: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;

    border-radius: 100%;
}

.central-info-label {
    font-size: 22px;
}

.total-data {
    font-size: 20px;
}

.total-expense {
    color: #e60000;
}

.total-income {
    color: #00cc00;
}

.main-info-label {
    font-size: 26px;
    margin-top: 7px;
    margin-bottom: 7px;
}


.category-container {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    cursor: pointer;
    padding: 10px;
    transition: padding 0.2s;
}

.category-container:hover {
    padding: 0px;
}

.category-icon-container {
    background-color: #f1916d;
    border-radius: 100%;
    margin: 10px;
    transition: margin 0.2s;
}

.category-icon-container:hover {
    margin: 5px;
}

.category-icon {
    height: 80px;
    width: 80px;
    padding: 15px;

    transition: height 0.15s, width 0.15s, padding 0.15s;
}

.category-icon:hover {
    height: 90px;
    width: 90px;
}

.category-name{
    font-size: 22px;
}

.category-total {
    font-size: 18px;
}

