#content {
    padding-top: 0px;
    margin-top: 148px;
}

.app-navigation-container {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #1b3358;
}

.app-navigation-container {
    position: fixed;
    z-index: 101;
    top: 80px;
    right: 0px;
    left: 0px;
}

.app-navigation-container a {
    text-decoration: none;
    color: #f5d7db;
}

.app-navigation-link {
    /* border: 2px solid #f1916d; */
    border-bottom: 2px solid #f1916d;
    /* border-radius: 10px; */
    font-size: 22px;
    margin-right: 70px;
    margin-left: 70px;

    padding: 10px 20px 10px 20px;
    transition: background-color 0.2s, border-radius 0.2s, color 0.2s;
    cursor: pointer;
}

.app-navigation-link:hover {
    background-color: #f1916d;
    color: #1b3358;
    border-radius: 40px;
}

.active-nav-link {
    background-color: #f1916d;
    border-radius: 40px;
    color: #1b3358;
}


.choose-period-container {
    box-sizing: border-box;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #06142E;
    padding-top: 15px;
    padding-bottom: 10px;
}

.period-text {
    text-align: center;
    font-size: 24px;
    margin-right: 20px;
    margin-left: 20px;
    width: 200px;
}

.choose-next-period-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 5px;
    border-radius: 100%;
    border: none;
    transition: background-color 0.2s;
}

.choose-next-period-button:hover {
    background-color: #bd83b8;
}


.period-button-icon {
    height: 30px;
    width: 30px;
}

.main-categories-container {
    padding-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    display: grid;
    grid-template-columns: repeat(5, minmax(250px, 1fr));
    column-gap: 40px;
    row-gap: 40px;
    align-items: center;
    justify-content: center;
}

.main-categories-container a {
    text-decoration: none;
    color: #f5d7db;
}

#central-info-container {
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#central-info {
    border: 7px solid #f1916d;
    text-align: center;
    height: 170px;
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;

    border-radius: 100%;
    transition: background-color 0.2s;
}

#central-info:hover {
    background-color: #bd83b8;
}

.central-info-label {
    font-size: 22px;
}

.total-data {
    font-size: 20px;
}

.total-expense {
    color: #e60000;
}

.total-income {
    color: #00cc00;
}

.main-info-label {
    font-size: 26px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.category-container-button{
    background: none;
	color: inherit;
    border: none;
}
.category-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    cursor: pointer;
    padding: 10px;
    transition: padding 0.1s;
}

.category-container:hover .category-icon {
    height: 90px;
    width: 90px;
}

.category-container:hover .category-icon-container{
    background-color: #f1916d;
    margin: 5px;
}

.category-container:hover {
    padding: 10px;
}

.category-icon-container {
    background-color: #bd83b8;
    border-radius: 100%;
    margin: 10px;
    transition: margin 0.1s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.category-icon {
    height: 80px;
    width: 80px;
    padding: 15px;

    transition: height 0.1s, width 0.1s, padding 0.1s;
}


.category-name{
    font-size: 22px;
}

.category-total {
    font-size: 18px;
}

.add-category-icon-container {
    background-color: transparent;
    margin-bottom: 0px;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-category-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    cursor: pointer;

}

.add-category-container:hover .add-category-icon-container{
    background-color: #bd83b8;
}

.add-category-icon {
    width: 100px;
    height: 100px;
}

.add-category-label {
    margin-top: 0px;
}

.category-container-button {
    cursor: pointer;
}